doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/font.css')
    if env == 'dev'
      script(src="http://localhost:35729/livereload.js?snipver=1")
  body
    block content