body {
  padding: 50px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  letter-spacing: 3px;
  font-weight: normal;
}

img {
  margin-right: 10px;
}

.summary {
  position: relative;
  margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  display: inline-block;
  border-top: 1px solid #DDD;
}
table.out {
  border-left: 1px solid #DDD;
}
table.in {
  border-right: 1px solid #DDD;
}
table .grid td {
  border: 1px solid #DDD;
  border-left: 0px;
}
table td {
  margin: 0px;
  padding: 4px 2px;
  text-align: center;
  min-width: 50px;
  font-size: 12px;
}

.round-list {
  width: 300px;
  display: inline-block;
}

.hole {
  display: inline-block;
  vertical-align: top;
}

.over-under--1 {
  background-color: #CBFBCB;
}
.over-under-1 {
  background-color: #FFE4CB;
}
.over-under-2 {
  background-color: #FD9A69;
}
.over-under-3 {
  background-color: #F54C4C;
}

.hole-map {
  height: 125px;
  width: 50px;
  display: inline-block;
  background-size: 80px; 
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.focus > div {
  height: 290px;
  width: 140px;
  background-size: 200px;
}

.first {
  text-align: left;
}
.top {
  vertical-align: top;
  display: inline-block;
}
.middle {
  vertical-align: middle;
  display: inline-block;
}

.green {
  background-color: #E7F5E7;
}
.red {
  background-color: #FDECEC;
}
.small {
  font-size: 12px;
}
.caps {
  text-transform: capitalize;
}





