body {
  padding: 50px;
  font-family: sans-serif;
}

a {
  color: #00B7FF;
}

h1, h2, h3 {
  letter-spacing: 3px;
  font-weight: normal;
}

img {
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
  width: 100%;
  height: 100%;
}

.modal .dialog {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  background-color: #FFF;
}

.summary {
  position: relative;
  margin-bottom: 20px;
}

.round-list {
  width: 300px;
  display: inline-block;
}

.hole {
  display: inline-block;
  vertical-align: top;
}

.over-under {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px;
}
.over-under--2 {
  background-image: url('../images/icons/eagle.png');
}
.over-under--1 {
  background-image: url('../images/icons/birdie.png');
}
.over-under-1 {
  background-image: url('../images/icons/bogie.png');
}
.over-under-2 {
  background-image: url('../images/icons/dblbogie.png');
}
.over-under-3 {
  background-image: url('../images/icons/trplbogie.png');
}

.hole-map {
  height: 125px;
  width: 40px;
  display: inline-block;
  background-size: 80px; 
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}


.info > div {
  font-size: 12px;
  padding: 11px 0;
}

.first {
  text-align: left;
}
.top {
  vertical-align: top;
  display: inline-block;
}
.middle {
  vertical-align: middle;
  display: inline-block;
}

.green {
  background-color: #E7F5E7;
}
.red {
  background-color: #FDECEC;
}
.small {
  font-size: 12px;
}
.caps {
  text-transform: capitalize;
}

.hidden {
  display: none;
}




